{% extends "shop/base.html" %}
{% block title %}{% endblock %}
{% block content %}
    <h1 class="text-center">Оформление заказа</h1>
    <div class="order-info m-3">
        <h3>Ваш заказ</h3>
        <ul>
            {% for item in cart %}
                <li>
                    {{ item.quantity }} x {{ item.product.name }}
                    <span>{{ item.total_price }} грн.</span>
                </li>
            {% endfor %}
        </ul>
        <p>Всего: {{ cart.get_total_price }} грн.</p>
    </div>
    <form action="." method="post" class="order-form m-3">
<!--        <div class="form-group row">-->
<!--            <label class="col-sm-2 col-form-label">-->
                {{ form.as_p }}
<!--            </label>-->
<!--        </div>-->
        <p style="padding-bottom: 3rem"><input type="submit" value="Заказать"></p>
        {% csrf_token %}
    </form>
{% endblock %}