{% extends "shop/base.html" %}
{% load static %}
{% block title %}
    {% if category %}{{ category.name }}{% else %}Товары{% endif %}
{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <div id="sidebar">
                <h3 style="text-align: center">Каталог товаров</h3>
                <div class="list-group">
                        <a style="text-decoration: none; color: black" href="{% url "shop:product_list" %}"><button type="button" class="list-group-item list-group-item-action" {% if not category %}class="selected"{% endif %}>Все товары</button></a>
                    {% for c in categories %}
                        <a  style="text-decoration: none; color: black" href="{{ c.get_absolute_url }}"><button type="button" class="list-group-item list-group-item-action" {% if category.slug == c.slug %}class="selected"{% endif %}>{{ c.name }}</button></a>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div id="main" class="product-list">
                <h1 class="text-center mb-5">{% if category %}{{ category.name }}{% else %}Все товары{% endif %}</h1>
                <div class="row">
                    {% for a in page_object.object_list %}
                    <div class="col-sm-3">
                        <a style="text-decoration: none" href="{%  url 'shop:product_detail' a.id a.slug%}">
                        <div class="card mb-5" style="width: 10rem; height: 15rem">
                            <img src="{{ a.image.url }}" class="card-img-top" height="150px" alt="">
                            <div class="card-body text-dark" style="overflow: hidden">
                                <h4 class="card-title text-center" style="font-size: small">{{a.name}}</h4>
                                <p class="card-text text-center">{{ a.price }} грн.</p>
                            </div>
                        </div>
                        </a>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
<br>


{% if is_paginated %}
<nav aria-label="...">
    <ul class="pagination justify-content-center">
        <li class="page-item {% if not prev_url %} disabled {% endif %}">
            <a class="page-link" href="{{ prev_url }}" tabindex="-1" aria-disabled="true">Назад</a>
        </li>
        {% for n in page_object.paginator.page_range %}
        {% if page_object.number == n %}
        <li class="page-item active" aria-current="page">
            <a class="page-link" href="?page={{ n }}">{{ n }}<span class="sr-only">(current)</span></a>
        </li>
        {% elif n > page_object.number|add:-3 and n < page_object.number|add:3 %}
        <li class="page-item">
            <a class="page-link" href="?page={{ n }}">{{ n }}</a>
        </li>
        {% endif %}
        {% endfor %}
        <li class="page-item {% if not next_url %} disabled {% endif %}">
            <a class="page-link" href="{{ next_url }}" tabindex="-1" aria-disabled="true">Вперед</a>
        </li>
    </ul>
</nav>
{% endif %}
<br>
{% endblock %}